# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# turborepo
.turbo/

# env
.env
.env.*
!.env.example

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
test-results/
playwright-report/

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
