# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# turborepo
.turbo/

# env
.env
.env.*
!.env.example
!.env.prod.example

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
test-results/
playwright-report/
blob-report/

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# next
.next/
next-env.d.ts
.media
